
rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}


InventoryBar
{
	position: absolute;
	width: 100%;
	bottom: 48px;
	justify-content: center;
	align-items: flex-end;
	mix-blend-mode: lighten;
}

InventoryIcon
{
	width: 80px;
	height: 80px;
	border: 1px solid rgba( white, 0.4 );
	background-color: rgba( #4d98ce, 0.0 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 10px;
	font-family: poppins;

	.item-name
	{
		padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 11px;
		position: absolute;
		bottom: 0;
		opacity: 0.5;
		transition: all 0.5s ease-in-out;
	}

	.slot-number
	{
		font-size: 15px;
		color: white;
		font-weight: 500;
		opacity: 0.1;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		background-color: rgba( #4d98ce, 0.5 );
		border: 1px solid rgba( white, 0.8 );
		transition: all 0.1s ease-out;

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
		}
	}
}

vitals
{
	position: absolute;
	bottom: 64px;
	left: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #ff0a;

		&.danger
		{
			color: #f00;
			text-shadow: 0px 0px 10px #f005;
		}
	}
}


ammo
{
	position: absolute;
	bottom: 64px;
	right: 100px;
	font-size: 64px;
	color: #ff0;
	mix-blend-mode: lighten;
	font-family: Roboto;

	label
	{
		text-shadow: 0px 0px 20px #ff0a;

		&.danger
		{
			color: #f00;
		}
	}
}